FrontOffice/Service References/CardStatementService/CardStatementService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcf01-test:85/CardStatementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CardStatementManagement" />
  <xs:import schemaLocation="http://wcf01-test:85/CardStatementService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ACBALibrary" />
  <xs:import schemaLocation="http://wcf01-test:85/CardStatementService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetCardStatementSessions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statementType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardStatementSessionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="GetCardStatementSessionsResult" nillable="true" type="q1:ArrayOfCardStatementSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCardStatementSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="periodEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="statementType" type="xs:int" />
        <xs:element minOccurs="0" name="frequency" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCardStatementSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="CreateCardStatementSessionResult" nillable="true" type="q2:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCardStatementSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCardStatementSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="DeleteCardStatementSessionResult" nillable="true" type="q3:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ACBALibrary" minOccurs="0" name="client" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatementSessionQualityTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatementSessionQualityTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStatementSessionQualityTypesResult" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardSessionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardSessionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="GetCardSessionDetailsResult" nillable="true" type="q6:CardStatementSessionDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSatementHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSatementHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="GetSatementHistoryResult" nillable="true" type="q7:ArrayOfStatementSessionHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartCardStatementSessionSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
        <xs:element minOccurs="0" name="startType" type="xs:int" />
        <xs:element minOccurs="0" name="schedule" type="xs:dateTime" />
        <xs:element minOccurs="0" name="statementType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartCardStatementSessionSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="StartCardStatementSessionSubscriptionResult" nillable="true" type="q8:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatementSessionStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeStatementSessionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeStatementSessionStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCardStatementSessionSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCardStatementSessionScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="DeleteCardStatementSessionScheduleResult" nillable="true" type="q9:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneCardAdvertisements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneCardAdvertisementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="GetOneCardAdvertisementsResult" nillable="true" type="q10:AdvertisementConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCardsAdvertisements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCardsAdvertisementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="GetAllCardsAdvertisementsResult" nillable="true" type="q11:Advertisement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="GetAdvertisementFilesResult" nillable="true" type="q12:Advertisement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementFileByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementFileByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="GetAdvertisementFileByIDResult" nillable="true" type="q13:AdvertisementFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdvertisementWithNewFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="advertisement" nillable="true" type="q14:Advertisement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdvertisementWithNewFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="UpdateAdvertisementWithNewFileResult" nillable="true" type="q15:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAdvertisement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="statementAdvertisements" nillable="true" type="q16:AdvertisementConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAdvertisementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="InsertAdvertisementResult" nillable="true" type="q17:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateAdvertisement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateAdvertisementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CardStatementManagement" minOccurs="0" name="DeactivateAdvertisementResult" nillable="true" type="q18:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>