FrontOffice/Service References/ACBAServiceReference/OperationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CBDataService.PoliceViolations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CBDataService.PoliceViolations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CBViolationPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderingId" type="xs:int" />
      <xs:element minOccurs="0" name="PayedSum" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentDocNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CBViolationPayment" nillable="true" type="tns:CBViolationPayment" />
</xs:schema>