FrontOffice/Service References/ACBAServiceReference/OperationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACBALibrary.CustomerIdentificationAlgorithm.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACBALibrary.CustomerIdentificationAlgorithm.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ACBAOperationService/OperationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ACBALibrary" />
  <xs:complexType name="CustomerIdentificationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerNumber" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="ExistMultipleIdentifiedCustomerWithCustomerQuality" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ACBALibrary" minOccurs="0" name="IdentificationLevel" type="q1:CustomerIdentificationLevel" />
      <xs:element minOccurs="0" name="IsNewCustomer" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerIdentificationResult" nillable="true" type="tns:CustomerIdentificationResult" />
</xs:schema>