FrontOffice/Service References/FinancialPlanningService/FinancialPlanningService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FinancialPlanningService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFinancialPlanningService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ACBAOperationService/FinancialPlanningService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ACBAOperationService/FinancialPlanningService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ACBAOperationService/FinancialPlanningService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/PlannedTargets" />
      <xsd:import schemaLocation="http://localhost/ACBAOperationService/FinancialPlanningService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ACBALibrary" />
      <xsd:import schemaLocation="http://localhost/ACBAOperationService/FinancialPlanningService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFinancialPlanningService_SetCurrentUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentUser" />
  </wsdl:message>
  <wsdl:message name="IFinancialPlanningService_SetCurrentUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFinancialPlanningService_SetClientIp_InputMessage">
    <wsdl:part name="parameters" element="tns:SetClientIp" />
  </wsdl:message>
  <wsdl:message name="IFinancialPlanningService_SetClientIp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetClientIpResponse" />
  </wsdl:message>
  <wsdl:message name="IFinancialPlanningService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IFinancialPlanningService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IFinancialPlanningService_GetPlanningTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanningTypes" />
  </wsdl:message>
  <wsdl:message name="IFinancialPlanningService_GetPlanningTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanningTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IFinancialPlanningService_GetFinancialPlanningTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinancialPlanningTypes" />
  </wsdl:message>
  <wsdl:message name="IFinancialPlanningService_GetFinancialPlanningTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinancialPlanningTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IFinancialPlanningService_GetFinancialPlanning_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFinancialPlanning" />
  </wsdl:message>
  <wsdl:message name="IFinancialPlanningService_GetFinancialPlanning_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFinancialPlanningResponse" />
  </wsdl:message>
  <wsdl:portType name="IFinancialPlanningService">
    <wsdl:operation name="SetCurrentUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinancialPlanningService/SetCurrentUser" message="tns:IFinancialPlanningService_SetCurrentUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinancialPlanningService/SetCurrentUserResponse" message="tns:IFinancialPlanningService_SetCurrentUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetClientIp">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinancialPlanningService/SetClientIp" message="tns:IFinancialPlanningService_SetClientIp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinancialPlanningService/SetClientIpResponse" message="tns:IFinancialPlanningService_SetClientIp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinancialPlanningService/Save" message="tns:IFinancialPlanningService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinancialPlanningService/SaveResponse" message="tns:IFinancialPlanningService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanningTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinancialPlanningService/GetPlanningTypes" message="tns:IFinancialPlanningService_GetPlanningTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinancialPlanningService/GetPlanningTypesResponse" message="tns:IFinancialPlanningService_GetPlanningTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinancialPlanningTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinancialPlanningService/GetFinancialPlanningTypes" message="tns:IFinancialPlanningService_GetFinancialPlanningTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinancialPlanningService/GetFinancialPlanningTypesResponse" message="tns:IFinancialPlanningService_GetFinancialPlanningTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFinancialPlanning">
      <wsdl:input wsaw:Action="http://tempuri.org/IFinancialPlanningService/GetFinancialPlanning" message="tns:IFinancialPlanningService_GetFinancialPlanning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFinancialPlanningService/GetFinancialPlanningResponse" message="tns:IFinancialPlanningService_GetFinancialPlanning_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFinancialPlanningService" type="tns:IFinancialPlanningService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFinancialPlanningService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SetCurrentUser">
      <soap12:operation soapAction="http://tempuri.org/IFinancialPlanningService/SetCurrentUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClientIp">
      <soap12:operation soapAction="http://tempuri.org/IFinancialPlanningService/SetClientIp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/IFinancialPlanningService/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanningTypes">
      <soap12:operation soapAction="http://tempuri.org/IFinancialPlanningService/GetPlanningTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinancialPlanningTypes">
      <soap12:operation soapAction="http://tempuri.org/IFinancialPlanningService/GetFinancialPlanningTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFinancialPlanning">
      <soap12:operation soapAction="http://tempuri.org/IFinancialPlanningService/GetFinancialPlanning" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinancialPlanningService">
    <wsdl:port name="NetTcpBinding_IFinancialPlanningService" binding="tns:NetTcpBinding_IFinancialPlanningService">
      <soap12:address location="net.tcp://ws0004706.acbaca.local/ACBAOperationService/FinancialPlanningService.svc/FinancialPlanningService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://ws0004706.acbaca.local/ACBAOperationService/FinancialPlanningService.svc/FinancialPlanningService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Davit.Jraghatspanyan@acbaca.local</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>