FrontOffice/Service References/LADigitalContractService/LADigitalContractService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LoanApplicationManagement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LoanApplicationManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webc021:9819/LADigitalContractService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://webc021:9819/LADigitalContractService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://webc021:9819/LADigitalContractService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ACBALibrary" />
  <xs:complexType name="ActionResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfActionError" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ResultCode" type="tns:ResultCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionResult" nillable="true" type="tns:ActionResult" />
  <xs:complexType name="ArrayOfActionError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActionError" nillable="true" type="tns:ActionError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActionError" nillable="true" type="tns:ArrayOfActionError" />
  <xs:complexType name="ActionError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:short" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Params" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionError" nillable="true" type="tns:ActionError" />
  <xs:simpleType name="ResultCode">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedShort" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Failed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NotAutorized">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ValidationError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OnlineResumeSign">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Warning">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Info">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultCode" nillable="true" type="tns:ResultCode" />
  <xs:complexType name="RequestFactory">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorizedUserSessionToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ACBALibrary" minOccurs="0" name="CurrentUser" nillable="true" type="q2:User" />
      <xs:element minOccurs="0" name="GUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="SourceType" type="tns:SourceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestFactory" nillable="true" type="tns:RequestFactory" />
  <xs:simpleType name="SourceType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Bank">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ACBABusinessTab">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SourceType" nillable="true" type="tns:SourceType" />
</xs:schema>