FrontOffice/Service References/LADigitalContractService/LADigitalContractService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webc021:9819/LADigitalContractService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LoanApplicationManagement" />
  <xs:import schemaLocation="http://webc021:9819/LADigitalContractService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SendLoanContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationID" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="customerNumber" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLoanContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LoanApplicationManagement" minOccurs="0" name="SendLoanContractResult" nillable="true" type="q1:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanDigitalContractStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationID" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoanDigitalContractStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLoanDigitalContractStatusResult" nillable="true" type="q2:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitRequestFactory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LoanApplicationManagement" minOccurs="0" name="requestFactory" nillable="true" type="q3:RequestFactory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitRequestFactoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>