FrontOffice/Service References/XBS/AcbaOnlineSecurityService.Helpers2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AcbaOnlineSecurityService.Helpers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TokenOperationsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatorID" type="xs:int" />
      <xs:element minOccurs="0" name="GID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenOperationsInfo" nillable="true" type="tns:TokenOperationsInfo" />
  <xs:complexType name="TokenOperationsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResultCode" type="xs:int" />
      <xs:element minOccurs="0" name="ResultDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenOperationsResult" nillable="true" type="tns:TokenOperationsResult" />
</xs:schema>