FrontOffice/Service References/XBS/ExternalBankingSecurityLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExternalBankingSecurityLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExternalBankingSecurityLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExternalUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchCode" type="xs:int" />
      <xs:element minOccurs="0" name="ChangeRequirement" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullNameEng" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permission" type="xs:int" />
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalUser" nillable="true" type="tns:ExternalUser" />
</xs:schema>