FrontOffice/Service References/XBS/SAPCRM2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SAPCRM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SAPCRM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLead">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lead" nillable="true" type="tns:Lead" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLead" nillable="true" type="tns:ArrayOfLead" />
  <xs:complexType name="Lead">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="FilialCode" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:float" />
      <xs:element minOccurs="0" name="ProductType" type="xs:short" />
      <xs:element minOccurs="0" name="ProductTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ResponsibleEmployee" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:short" />
      <xs:element minOccurs="0" name="TypeDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lead" nillable="true" type="tns:Lead" />
</xs:schema>