FrontOffice/Service References/XBS/XBService69.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CBDataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CBDataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CBAccountStatusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CBAccountStatusInfo" nillable="true" type="tns:CBAccountStatusInfo" />
  <xs:complexType name="CBAccountInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountBankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyISO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerSecondName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerTaxCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrdinalNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxAuthorityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxPayerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CBAccountInfo" nillable="true" type="tns:CBAccountInfo" />
  <xs:complexType name="CBResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrdinalNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CBResult" nillable="true" type="tns:CBResult" />
</xs:schema>