FrontOffice/Service References/XBS/XBService73.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExternalBanking.Leasing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExternalBanking.Leasing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLeasingPaymentsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeasingPaymentsType" nillable="true" type="tns:LeasingPaymentsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeasingPaymentsType" nillable="true" type="tns:ArrayOfLeasingPaymentsType" />
  <xs:complexType name="LeasingPaymentsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentType" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeasingPaymentsType" nillable="true" type="tns:LeasingPaymentsType" />
  <xs:complexType name="LeasingLoanRepayments">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapitalRepayment" type="xs:double" />
      <xs:element minOccurs="0" name="CurrentCapital" type="xs:double" />
      <xs:element minOccurs="0" name="DateOfRepayment" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PayableAmount" type="xs:double" />
      <xs:element minOccurs="0" name="RateRepayment" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeasingLoanRepayments" nillable="true" type="tns:LeasingLoanRepayments" />
  <xs:complexType name="ArrayOfCustomerLeasingLoans">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerLeasingLoans" nillable="true" type="tns:CustomerLeasingLoans" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerLeasingLoans" nillable="true" type="tns:ArrayOfCustomerLeasingLoans" />
  <xs:complexType name="CustomerLeasingLoans">
    <xs:sequence>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentCapital" type="xs:double" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LeasingPayment" type="xs:double" />
      <xs:element minOccurs="0" name="NextRepaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductId" type="xs:long" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCapital" type="xs:double" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerLeasingLoans" nillable="true" type="tns:CustomerLeasingLoans" />
  <xs:complexType name="LeasingLoanDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CustomerLeasingLoans">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreditCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GeneralNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InsuranceAmount" type="xs:double" />
          <xs:element minOccurs="0" name="InterestRate" type="xs:float" />
          <xs:element minOccurs="0" name="LoanAccount" type="xs:long" />
          <xs:element minOccurs="0" name="OverdueCapital" type="xs:double" />
          <xs:element minOccurs="0" name="OverdueLoanDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PenaltyRate" type="xs:double" />
          <xs:element minOccurs="0" name="Quality" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeasingLoanDetails" nillable="true" type="tns:LeasingLoanDetails" />
  <xs:complexType name="ArrayOfLeasingLoanRepayments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeasingLoanRepayments" nillable="true" type="tns:LeasingLoanRepayments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeasingLoanRepayments" nillable="true" type="tns:ArrayOfLeasingLoanRepayments" />
  <xs:complexType name="ArrayOfLeasingLoanStatements">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeasingLoanStatements" nillable="true" type="tns:LeasingLoanStatements" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeasingLoanStatements" nillable="true" type="tns:ArrayOfLeasingLoanStatements" />
  <xs:complexType name="LeasingLoanStatements">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="DateOfStatement" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Wording" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeasingLoanStatements" nillable="true" type="tns:LeasingLoanStatements" />
</xs:schema>