FrontOffice/Service References/XBS/XBService26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BondCertificateDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BondCount" type="xs:int" />
      <xs:element minOccurs="0" name="ClientType" type="xs:int" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BondCertificateDetails" nillable="true" type="tns:BondCertificateDetails" />
</xs:schema>