FrontOffice/Service References/XBS/XBService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExternalBanking.Leasing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExternalBanking.Leasing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerLeasingLoans">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerLeasingLoans" nillable="true" type="tns:CustomerLeasingLoans" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerLeasingLoans" nillable="true" type="tns:ArrayOfCustomerLeasingLoans" />
  <xs:complexType name="CustomerLeasingLoans">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentCapital" type="xs:double" />
      <xs:element minOccurs="0" name="CurrentCapitalAMD" type="xs:double" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GeneralNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LeasingPayment" type="xs:double" />
      <xs:element minOccurs="0" name="LoanFullNumber" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="NextRepaymentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductId" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quality" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="QualityDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartCapital" type="xs:double" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerLeasingLoans" nillable="true" type="tns:CustomerLeasingLoans" />
  <xs:complexType name="LeasingLoanDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CustomerLeasingLoans">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountBalance" type="xs:double" />
          <xs:element minOccurs="0" name="AccountBalanceAMD" type="xs:double" />
          <xs:element minOccurs="0" name="AccumulatedPercent" type="xs:double" />
          <xs:element minOccurs="0" name="AccumulatedPercentPaied" type="xs:double" />
          <xs:element minOccurs="0" name="ActualInterestRate" type="xs:float" />
          <xs:element minOccurs="0" name="AdvanceAmount" type="xs:double" />
          <xs:element minOccurs="0" name="CustomerNumber" type="xs:long" />
          <xs:element minOccurs="0" name="DateOfLastPayment" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateOfRateCalculation" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FeeAmount" type="xs:double" />
          <xs:element minOccurs="0" name="FeePaymentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FilialCode" type="xs:unsignedShort" />
          <xs:element minOccurs="0" name="FilialName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FinalFee" type="xs:double" />
          <xs:element minOccurs="0" name="InsuranceAmount" type="xs:double" />
          <xs:element minOccurs="0" name="InsuranceCalculationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InsurancePaymentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InterestRate" type="xs:float" />
          <xs:element minOccurs="0" name="Kurs" type="xs:double" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LeasingCustomerNumber" type="xs:int" />
          <xs:element minOccurs="0" name="LoanAccount" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OtherPaymentAmount" type="xs:double" />
          <xs:element minOccurs="0" name="OtherPaymentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OverdueCapital" type="xs:double" />
          <xs:element minOccurs="0" name="OverdueDays" type="xs:short" />
          <xs:element minOccurs="0" name="OverdueLoanDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OverduePercent" type="xs:double" />
          <xs:element minOccurs="0" name="PaymentsCount" type="xs:short" />
          <xs:element minOccurs="0" name="PenaltyRate" type="xs:double" />
          <xs:element minOccurs="0" name="PenaltyRatePaied" type="xs:double" />
          <xs:element minOccurs="0" name="PrepaymentAmount" type="xs:double" />
          <xs:element minOccurs="0" name="PrepaymentPaymentDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SubsidRate" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeasingLoanDetails" nillable="true" type="tns:LeasingLoanDetails" />
  <xs:complexType name="ArrayOfLeasingLoanRepayments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeasingLoanRepayments" nillable="true" type="tns:LeasingLoanRepayments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeasingLoanRepayments" nillable="true" type="tns:ArrayOfLeasingLoanRepayments" />
  <xs:complexType name="LeasingLoanRepayments">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapitalRepayment" type="xs:double" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentCapital" type="xs:double" />
      <xs:element minOccurs="0" name="DateOfRepayment" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:float" />
      <xs:element minOccurs="0" name="PayableAmount" type="xs:double" />
      <xs:element minOccurs="0" name="RateRepayment" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeasingLoanRepayments" nillable="true" type="tns:LeasingLoanRepayments" />
  <xs:complexType name="ArrayOfLeasingLoanStatements">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeasingLoanStatements" nillable="true" type="tns:LeasingLoanStatements" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeasingLoanStatements" nillable="true" type="tns:ArrayOfLeasingLoanStatements" />
  <xs:complexType name="LeasingLoanStatements">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="DateOfStatement" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Wording" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeasingLoanStatements" nillable="true" type="tns:LeasingLoanStatements" />
  <xs:complexType name="ArrayOfLeasingPaymentsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeasingPaymentsType" nillable="true" type="tns:LeasingPaymentsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeasingPaymentsType" nillable="true" type="tns:ArrayOfLeasingPaymentsType" />
  <xs:complexType name="LeasingPaymentsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="PaymentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentType" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeasingPaymentsType" nillable="true" type="tns:LeasingPaymentsType" />
  <xs:complexType name="ArrayOfLeasingOverdueDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeasingOverdueDetail" nillable="true" type="tns:LeasingOverdueDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeasingOverdueDetail" nillable="true" type="tns:ArrayOfLeasingOverdueDetail" />
  <xs:complexType name="LeasingOverdueDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OverdueCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverdueDaysCount" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="ProductEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ProductTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Productid" type="xs:long" />
      <xs:element minOccurs="0" name="Quality" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RateAmount" type="xs:double" />
      <xs:element minOccurs="0" name="StartCapital" type="xs:double" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeasingOverdueDetail" nillable="true" type="tns:LeasingOverdueDetail" />
  <xs:complexType name="ArrayOfLeasingInsurance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeasingInsurance" nillable="true" type="tns:LeasingInsurance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeasingInsurance" nillable="true" type="tns:ArrayOfLeasingInsurance" />
  <xs:complexType name="LeasingInsurance">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="InsuranceId" type="xs:int" />
      <xs:element minOccurs="0" name="PayDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeasingInsurance" nillable="true" type="tns:LeasingInsurance" />
</xs:schema>