FrontOffice/Service References/XBS/XBService20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExternalBanking.SecuritiesTrading" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExternalBanking.SecuritiesTrading" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ExternalBankingService/XBService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/ExternalBanking" />
  <xs:complexType name="ArrayOfSecuritiesMarketTradingOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecuritiesMarketTradingOrder" nillable="true" type="tns:SecuritiesMarketTradingOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecuritiesMarketTradingOrder" nillable="true" type="tns:ArrayOfSecuritiesMarketTradingOrder" />
  <xs:complexType name="SecuritiesMarketTradingOrder">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/ExternalBanking" base="q1:SecuritiesTradingOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActuallyQuantity" type="xs:int" />
          <xs:element minOccurs="0" name="ConfirmDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ConfirmOrderUserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderDealOtherSide" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResidualQuantity" type="xs:decimal" />
          <xs:element minOccurs="0" name="SecuritiTrandingOrderDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TotalVolume" type="xs:decimal" />
          <xs:element minOccurs="0" name="TransactionPlace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnitAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecuritiesMarketTradingOrder" nillable="true" type="tns:SecuritiesMarketTradingOrder" />
  <xs:complexType name="SecuritiesTradingFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrokerageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerNumber" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExternalBanking" minOccurs="0" name="ExpirationType" type="q2:SecuritiesTradingOrderExpirationType" />
      <xs:element minOccurs="0" name="ISIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IssueSeria" nillable="true" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExternalBanking" minOccurs="0" name="OrderType" type="q3:OrderType" />
      <xs:element minOccurs="0" name="Page" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExternalBanking" minOccurs="0" name="Quality" type="q4:OrderQuality" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExternalBanking" minOccurs="0" name="SecurityType" type="q5:SharesTypes" />
      <xs:element minOccurs="0" name="Sort" type="tns:SortBy" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExternalBanking" minOccurs="0" name="TradingOrderType" type="q6:SecuritiesTradingOrderTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecuritiesTradingFilter" nillable="true" type="tns:SecuritiesTradingFilter" />
  <xs:simpleType name="SortBy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotDefined" />
      <xs:enumeration value="AmountMinToMax" />
      <xs:enumeration value="AmountMaxToMin" />
      <xs:enumeration value="DateMinToMax" />
      <xs:enumeration value="DateMaxToMin" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortBy" nillable="true" type="tns:SortBy" />
  <xs:complexType name="ArrayOfSentSecuritiesTradingOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SentSecuritiesTradingOrder" nillable="true" type="tns:SentSecuritiesTradingOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSentSecuritiesTradingOrder" nillable="true" type="tns:ArrayOfSentSecuritiesTradingOrder" />
  <xs:complexType name="SentSecuritiesTradingOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="BrokerageCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerNumber" type="xs:unsignedLong" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ExternalBanking" minOccurs="0" name="DepositoryAccount" nillable="true" type="q7:DepositaryAccount" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ExternalBanking" minOccurs="0" name="ExpirationType" type="q8:SecuritiesTradingOrderExpirationType" />
      <xs:element minOccurs="0" name="ExpirationTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilialCode" type="xs:int" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeposited" type="xs:boolean" />
      <xs:element minOccurs="0" name="IssueSeria" type="xs:int" />
      <xs:element minOccurs="0" name="LimitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="MarketPrice" type="xs:double" />
      <xs:element minOccurs="0" name="MarketTradedQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="OrderId" type="xs:int" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ExternalBanking" minOccurs="0" name="Quality" type="q9:OrderQuality" />
      <xs:element minOccurs="0" name="QualityDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="ReferenceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ExternalBanking" minOccurs="0" name="SecurityType" type="q10:SharesTypes" />
      <xs:element minOccurs="0" name="SecurityTypeDescription" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ExternalBanking" minOccurs="0" name="Source" type="q11:SourceType" />
      <xs:element minOccurs="0" name="StopPrice" type="xs:double" />
      <xs:element minOccurs="0" name="Ticker" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ExternalBanking" minOccurs="0" name="TradingOrderType" type="q12:SecuritiesTradingOrderTypes" />
      <xs:element minOccurs="0" name="TradingOrderTypeDescription" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ExternalBanking" minOccurs="0" name="Type" type="q13:OrderType" />
      <xs:element minOccurs="0" name="TypeDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SentSecuritiesTradingOrder" nillable="true" type="tns:SentSecuritiesTradingOrder" />
  <xs:complexType name="SecuritiesTradingOrderCancellationOrder">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/ExternalBanking" base="q14:SecuritiesTradingOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="SecuritiesTradingOrderId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecuritiesTradingOrderCancellationOrder" nillable="true" type="tns:SecuritiesTradingOrderCancellationOrder" />
</xs:schema>