FrontOffice/Service References/eSignServiceReference/eSignService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/eSignatureService/eSignService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Library" />
  <xs:import schemaLocation="http://localhost/eSignatureService/eSignService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/eSignatureService/eSignService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateDigitalContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="digitalContract" nillable="true" type="q1:DigitalContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDigitalContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="CreateDigitalContractResult" nillable="true" type="q2:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAttachments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="digitalContract" nillable="true" type="q3:DigitalContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAttachmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="UpdateAttachmentsResult" nillable="true" type="q4:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="GetDigitalContractResult" nillable="true" type="q6:DigitalContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalContractId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalContractIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetDigitalContractIdResult" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelDigitalContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelDigitalContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="CancelDigitalContractResult" nillable="true" type="q8:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalContractStatusByProductId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalContractStatusByProductIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDigitalContractStatusByProductIdResult" nillable="true" type="q9:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignedInPaper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignedInPaperResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="SignedInPaperResult" nillable="true" type="q10:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractId" type="q11:guid" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="GetOTPResult" nillable="true" type="q12:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDigitalContractDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="digitalContractId" type="q13:guid" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="digitalContractDetail" nillable="true" type="q14:DigitalContractDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDigitalContractDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="SaveDigitalContractDetailResult" nillable="true" type="q15:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractId" type="q16:guid" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="otp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="ValidateOTPResult" nillable="true" type="q17:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmDigitalContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractId" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmDigitalContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="ConfirmDigitalContractResult" nillable="true" type="q19:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateDigitalContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractId" type="q20:guid" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateDigitalContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="ValidateDigitalContractResult" nillable="true" type="q21:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDigitalContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="customerNumber" type="xs:unsignedLong" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attachmentTypes" nillable="true" type="q22:ArrayOfint" />
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parameters" nillable="true" type="q23:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="operDay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includeAllPos" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDigitalContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="SendDigitalContractResult" nillable="true" type="q24:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalContractForSign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractId" type="q25:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalContractForSignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="GetDigitalContractForSignResult" nillable="true" type="q26:FullDigitalContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="digitalContractId" type="q27:guid" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="acceptTerms" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="SendOTPResult" nillable="true" type="q28:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalContractFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="digitalContractId" type="q29:guid" />
        <xs:element minOccurs="0" name="fileId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalContractFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="GetDigitalContractFileResult" nillable="true" type="q30:DigitalContractFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalContractFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="digitalContractId" type="q31:guid" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalContractFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="GetDigitalContractFilesResult" nillable="true" type="q32:DigitalContractFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveDigitalContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="digitalContractId" type="q33:guid" />
        <xs:element minOccurs="0" name="otp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveDigitalContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="ApproveDigitalContractResult" nillable="true" type="q34:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentDigitalContracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNumber" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentDigitalContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="GetSentDigitalContractsResult" nillable="true" type="q35:ArrayOfSentDigitalContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignedDigitalContracts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNumber" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignedDigitalContractsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="GetSignedDigitalContractsResult" nillable="true" type="q36:ArrayOfSignedDigitalContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelDigitalContractById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="digitalContractId" type="q37:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelDigitalContractByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="CancelDigitalContractByIdResult" nillable="true" type="q38:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignedInPaperById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="digitalContractId" type="q39:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignedInPaperByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Library" minOccurs="0" name="SignedInPaperByIdResult" nillable="true" type="q40:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignedDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignedDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSignedDocumentsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>