FrontOffice/Service References/LeasingStatementService/LeasingStatementService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webc021:85/LeasingStatementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" />
  <xs:import schemaLocation="http://webc021:85/LeasingStatementService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ACBALibrary" />
  <xs:import schemaLocation="http://webc021:85/LeasingStatementService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetLeasingStatementSessions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="statementType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeasingStatementSessionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="GetLeasingStatementSessionsResult" nillable="true" type="q1:ArrayOfLeasingStatementSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLeasingStatementSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="periodStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="periodEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="statementType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLeasingStatementSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="CreateLeasingStatementSessionResult" nillable="true" type="q2:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLeasingStatementSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLeasingStatementSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="DeleteLeasingStatementSessionResult" nillable="true" type="q3:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ACBALibrary" minOccurs="0" name="client" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatementSessionQualityTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatementSessionQualityTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetStatementSessionQualityTypesResult" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeasingSessionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeasingSessionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="GetLeasingSessionDetailsResult" nillable="true" type="q6:LeasingStatementSessionDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSatementHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSatementHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="GetSatementHistoryResult" nillable="true" type="q7:ArrayOfStatementSessionHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLeasingStatementSessionSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
        <xs:element minOccurs="0" name="startType" type="xs:int" />
        <xs:element minOccurs="0" name="schedule" type="xs:dateTime" />
        <xs:element minOccurs="0" name="statementType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartLeasingStatementSessionSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="StartLeasingStatementSessionSubscriptionResult" nillable="true" type="q8:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeLeasingStatementSessionStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeLeasingStatementSessionStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeLeasingStatementSessionStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLeasingStatementSessionSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLeasingStatementSessionScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="DeleteLeasingStatementSessionScheduleResult" nillable="true" type="q9:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneLeasingAdvertisements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LeasingType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneLeasingAdvertisementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="GetOneLeasingAdvertisementsResult" nillable="true" type="q10:AdvertisementConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLeasingsAdvertisements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLeasingsAdvertisementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="GetAllLeasingsAdvertisementsResult" nillable="true" type="q11:Advertisement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="GetAdvertisementFilesResult" nillable="true" type="q12:Advertisement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementFileByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementFileByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="GetAdvertisementFileByIDResult" nillable="true" type="q13:AdvertisementFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdvertisementWithNewFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="advertisement" nillable="true" type="q14:Advertisement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdvertisementWithNewFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="UpdateAdvertisementWithNewFileResult" nillable="true" type="q15:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAdvertisement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="statementAdvertisements" nillable="true" type="q16:AdvertisementConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAdvertisementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="InsertAdvertisementResult" nillable="true" type="q17:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateAdvertisement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateAdvertisementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="DeactivateAdvertisementResult" nillable="true" type="q18:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:unsignedLong" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="statementType" type="xs:int" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="GetStatementsResult" nillable="true" type="q19:ArrayOfAnnouncement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatementPath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatementPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatementPathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunLeasingStatementSessionSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunLeasingStatementSessionSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LeasingStatementManagement" minOccurs="0" name="RunLeasingStatementSessionSubscriptionResult" nillable="true" type="q20:ActionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>