FrontOffice/Service References/XBManagement/XBManagementService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ACBALibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ACBALibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ExternalBankingService/XBManagementService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CustomerEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Checked" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="email" nillable="true" type="tns:Email" />
      <xs:element minOccurs="0" name="emailType" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="priority" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="quality" nillable="true" type="tns:KeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerEmail" nillable="true" type="tns:CustomerEmail" />
  <xs:complexType name="KeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" type="xs:short" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValue" nillable="true" type="tns:KeyValue" />
  <xs:complexType name="Email">
    <xs:sequence>
      <xs:element minOccurs="0" name="emailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Email" nillable="true" type="tns:Email" />
  <xs:complexType name="CustomerPhone">
    <xs:sequence>
      <xs:element minOccurs="0" name="Checked" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="addInf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="tns:Phone" />
      <xs:element minOccurs="0" name="phoneType" nillable="true" type="tns:KeyValue" />
      <xs:element minOccurs="0" name="priority" nillable="true" type="tns:KeyValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerPhone" nillable="true" type="tns:CustomerPhone" />
  <xs:complexType name="Phone">
    <xs:sequence>
      <xs:element minOccurs="0" name="areaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phone" nillable="true" type="tns:Phone" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountGroup" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AdvancedOptions" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="DepartmentId" type="xs:short" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:short" />
      <xs:element minOccurs="0" name="GroupID" type="xs:short" />
      <xs:element minOccurs="0" name="IsAutorized" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsChiefAcc" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManager" type="xs:boolean" />
      <xs:element minOccurs="0" name="PositionID" type="xs:short" />
      <xs:element minOccurs="0" name="PositionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionLimit" type="xs:int" />
      <xs:element minOccurs="0" name="UserSessionToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filialCode" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="number_of_item" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="transRight" type="xs:int" />
      <xs:element minOccurs="0" name="userCustomerNumber" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="userID" type="xs:short" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userPermissionId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfCustomerEmail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerEmail" nillable="true" type="tns:CustomerEmail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerEmail" nillable="true" type="tns:ArrayOfCustomerEmail" />
</xs:schema>